<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1003812699509-scp6nn4je3rr3u1cm1as0haujtb1hrpv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1003812699509-scp6nn4je3rr3u1cm1as0haujtb1hrpv</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1003812699509-67qhgsf5lq2eft3n67ijch806lmm4ts1.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDxBDDdsEDWEFaQJPTyaNz7J7CB2XcBGpU</string>
	<key>GCM_SENDER_ID</key>
	<string>1003812699509</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.worker-app</string>
	<key>PROJECT_ID</key>
	<string>locksmith-app-cb07d</string>
	<key>STORAGE_BUCKET</key>
	<string>locksmith-app-cb07d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1003812699509:ios:1eff0caffa6469c78f273c</string>
</dict>
</plist>